# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android/IntelliJ
android/app/build/
android/build/
android/gradle
android/gradlew
android/gradlew.bat
android/local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# iOS
ios/build/
ios/DerivedData/
ios/pods/
ios/*.xcworkspace
ios/*.xcodeproj

# Kotlin
.kotlin/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
